AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
KNOWLEDGE_BASE_ID=


SUPABASE_URL=
SUPABASE_KEY=


ENCRYPTION_ENABLED=
ENCRYPTION_KEY=
